@import url('https://cdn.syncfusion.com/ej2/tailwind-dark.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}
.e-grid {
  font-family:  'Open Sans';
  font-weight: 600;
}
.e-grid .e-headercelldiv {
  font-family:  'Open Sans';
  font-weight: 600;
}
.e-input::placeholder {
  color: #cdcdcd !important;
}
.e-grid .e-filtermenudiv {
  display: none;
  margin: 0;
  padding: 0;
}
.e-grid .e-gridheader .e-sortfilter .e-fltr-icon .e-headercelldiv {
  margin: 0 !important;
}
.e-grid .e-gridheader .e-sortfilter .e-headercelldiv, .e-grid .e-gridheader .e-stackedheadercelldiv {
  padding: 0 !important;
}
.e-grid .e-toolbar-items .e-toolbar-item.e-search-wrapper {
  padding-top: 0 !important;
  margin-top: 1px;

}
.e-input-group .e-search .e-input-focus {
  background-color: transparent !important;
}
.e-toolbar .e-toolbar-items:first-child>.e-toolbar-item:last-child, .e-toolbar .e-toolbar-items:first-child>.e-toolbar-right .e-toolbar-item:last-child {
  margin-right: 0 !important;
  padding-right: 0;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background: #bae6fd;
  border: none
}